@import '../../../styles/styles.scss';

.Navigation {
    background: $mainColor;
    padding: .4em 3em;
    box-shadow: inset 1px 3px 9px -6px;

    div {
        display: inline-block;
    }

    .menu-container {
        width: 80%;

        a {
            font-family: $headingsFont;
            margin: 0 .5em;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            padding: 8px;
            font-weight: bold;
            font-size: 20px;

            .link-wrapper {
                text-decoration: none;
            }

            &:hover {
                padding: 8px;
                background-color: $mainColor;
                box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.75);
            }
        }

        a:nth-child(1) {
            background: white;
            color: $mainColor;
            height: 100%;
            padding: 7px;
            font-size: 23px;
            box-shadow: inset 1px 3px 9px -6px;
        }
    }

    .search-bar {
        width: auto;
        float: right;
        text-align: right;
        color: white;
        font-size: 23px;
        cursor: pointer;
        position: relative;
        left: 14%;
    }
}