@import '../styles/variables.scss';

@media only screen and (max-width: 650px) {
    .Header {
        section {
            width: 100%;
        }

        section:nth-child(1) {
            display: none;
        }

        section:nth-child(2) {
            text-align: center;

            img {
                width: 37%;
            }
        }
    }

    .Navigation {
        .menu-container {
            a:hover {
                background: $darkColor !important;
            }

            a:nth-child(1) {
                display: none;
            }
        }

        div {
            display: block;
        }

        .menu-items a {
            display: block;

        }
    }

    .rwt__tablist {
        width: 28% !important;
    }

    .Footer {

        div:nth-child(1) section:nth-child(1),
        div:nth-child(1) section:nth-child(2),
        div:nth-child(1) section:nth-child(3),
        div:nth-child(1) section:nth-child(4) {
            width: 100%;
        }

        div:nth-child(2) section:nth-child(2) {
            width: 100%;
            text-align: center;
            margin-top: 2rem;
        }

        div:nth-child(2) section:nth-child(1) {
            text-align: center;
            width: 100%;
        }
    }
}