.Header {
    padding: 1em 2em;
    margin: 0;

    section {
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        margin: 0 2%;
    }

    section:nth-child(1) {
        text-align: left;

        button {
            background: #fff;
            border-radius: 6px;
            font-size: 15px;
            font-weight: 600;
            padding: 8px 12px;
            cursor: pointer;
            border: 1px solid #44A9F8;
            outline: none;

            &:hover {
                background: #303440;
                border-color: #303440;

                a {
                    color: white;
                }
            }

            a {
                color: #44A9F8;
                text-decoration: none;
                font-family: 'Lato', sans-serif;
            }

            span {
                padding-right: 9px;
            }
        }
    }

    section:nth-child(2) {
        text-align: right;

        img {
            width: 28%;
            max-width: 100%;
            padding: 0 3em;
            vertical-align: middle;
        }
    }

    section.social-icons {
        transform: translate(-50%, -50%);
        text-align: right;
        display: inline;
        vertical-align: bottom;

        a {
            color: #fff;
            background: #44A9F8;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            font-family: fontawesome;
            display: inline-block;
            width: 40px;
            height: 28px;
            padding-top: 12px;
            margin: 0 2px;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
            -webkit-font-smoothing: antialiased;
        }

        a:hover {
            background: #303440;
        }
    }
}